layout {

    focus-ring {
        active-color   "#ffb4a2"
        inactive-color "#1f0f0c"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffb4a2"
        inactive-color "#1f0f0c"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#ffb4a2"
        inactive-color "#ff562b"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffb4a280"
    }
}

recent-windows {
    highlight {
        active-color "#ffb4a2"
        urgent-color "#ffb4ab"
    }
}
