layout {

    focus-ring {
        active-color   "#a8ccde"
        inactive-color "#121415"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#a8ccde"
        inactive-color "#121415"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#a8ccde"
        inactive-color "#7598a9"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#a8ccde80"
    }
}

recent-windows {
    highlight {
        active-color "#a8ccde"
        urgent-color "#ffb4ab"
    }
}
