@import "colors.css";

/* === Global Styles === */
* {
    font-family: "JetBrainsMono Nerd Font Propo", monospace;
    font-size: 13px;
    box-shadow: none;
    border-radius: 5px;
}

:root {
    --background-color: rgba(0, 0, 0, 0.5);
    --noti-bg: 0, 0, 0;
    --noti-bg-alpha: 0.5;
    --background-hover-color: rgba(255, 255, 255, 0.1);

    --text-color: white;

    --noti-border-color: none;
    --noti-bg-darker: none;
    --noti-bg-hover: var(--background-hover-color);
    --noti-bg-focus: none;
    --noti-close-bg: none;
    --noti-close-bg-hover: none;
    --bg-selected: none;
    --notification-icon-size: 64px;
    --notification-app-icon-size: calc(var(--notification-icon-size) / 3);
    --notification-group-icon-size: 32px;
    --notification-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3),
        0 1px 3px 1px rgba(0, 0, 0, 0.7), 0 2px 6px 2px rgba(0, 0, 0, 0.3);
}

/*////////////////////////////////////////////*/
/* The main notification center window */
/*////////////////////////////////////////////*/

.control-center {
    background-color: var(--background-color);
}

.control-center slider {
    background: transparent;
    border: 0px;
}

.control-center-list {
    background: var(--background-color);
}

/*////////////////////////////////////////////*/
/* Buttons grid widget (e.g., for power menu) */
/*////////////////////////////////////////////*/

/* .widget-buttons-grid { */
    /* background: var(--background-color); */
/* } */

.widget-buttons-grid>flowbox>flowboxchild>button {
    background: var(--background-color);
    color: var(--text-color);

}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
    background: var(--background-hover-color);
    color: var(--text-color);
}

/*////////////////////////////////////////////*/
/* Mpris widget */
/*////////////////////////////////////////////*/

.widget-mpris {
    border: 6px solid var(--background-color);
}

.widget-mpris *:hover {
    background: transparent;
}

.widget-mpris-player {
    border-radius: 5px;
    margin: 0px;
}

.mpris-overlay,
.mpris-overlay:hover {
    padding: 40px;
    background: var(--background-color);
    border-radius: 5px;
}

.mpris-background {
    filter: blur(0px);
    border-radius: 5px;
}

.widget-mpris-title {
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.25rem;
    margin: -20px 0px 0px 0px;
    text-shadow: 0px 0px 5px var(--background-color);
    padding-top: 15px;
}

.widget-mpris-subtitle {
    color: var(--text-color);
    font-size: 1rem;
    margin: 0px 0px 40px 0px;
    text-shadow: 0px 0px 3px var(--background-color);
    border-radius: 5px;
}

.widget-mpris>box,
.widget-mpris>box:hover {
    background-color: var(--background-color);
    border-radius: 5px;
    margin: 0px 0px -20px 0px;
}

.widget-mpris>box>carousel>widget>box>box:nth-child(2) {
    margin: 0px 0px 0px 5px;
}

.widget-mpris>box>carousel>widget>box>box:nth-child(2)>button:hover {
    background: alpha(currentColor, 0.1);
}

/*//////////////////////*/
/* --- Notifications --- */
/*//////////////////////*/

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .summary {
    font-size: 15px;
    font-weight: bold;
    margin: 0px 0px 5px 10px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .time {
    font-size: 13px;
    font-weight: normal;
    margin: 0px 30px 5px 10px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .body {
    font-size: 13px;
    font-weight : normal;
    margin: 0px 0px 0px 10px;
}
