@define-color foreground {foreground};
@define-color background {background};
@define-color cursor {cursor};

@define-color color0 {color0};
@define-color color1 {color1};
@define-color color2 {color2};
@define-color color3 {color3};
@define-color color4 {color4};
@define-color color5 {color5};
@define-color color6 {color6};
@define-color color7 {color7};
@define-color color8 {color8};
@define-color color9 {color9};
@define-color color10 {color10};
@define-color color11 {color11};
@define-color color12 {color12};
@define-color color13 {color13};
@define-color color14 {color14};
@define-color color15 {color15};

/* Custom SwayNC specific colors */
@define-color noti-border-color @color4;
@define-color noti-bg @background;
@define-color noti-bg-hover alpha(@color4, 0.1);
@define-color noti-fg @foreground;
@define-color noti-bg-alt @color0;
@define-color noti-fg-alt @color7;
@define-color noti-button-bg @color0;
@define-color noti-button-bg-hover @color4;
@define-color noti-button-fg @foreground;
@define-color noti-button-fg-hover @background;

/*
 * Notification background color
 */
.control-center {
    background: {background};
    border-color: {color4};
}

.notification {
    background: {background};
    border-color: {color4};
}

/*
 * Text colors
 */
.notification-title,
.notification-body,
.notification-content,
.widget-title {
    color: {foreground};
}

/*
 * Button colors
 */
.notification-action,
.notification-default-action,
.widget-buttons-grid>flowbox>flowboxchild>button,
.widget-title>button {
    background: {color0};
    color: {foreground};
}

.notification-action:hover,
.notification-default-action:hover,
.widget-buttons-grid>flowbox>flowboxchild>button:hover,
.widget-title>button:hover {
    background: {color4};
    color: {background};
    border-color: {color4};
}

/*
 * Slider colors
 */
.widget-volume>box>scale>trough>highlight,
.widget-backlight>box>scale>trough>highlight {
    background: {color4};
}

.widget-volume>box>scale>trough,
.widget-backlight>box>scale>trough {
    background: {color0};
}

/*
 * Toggle colors
 */
.widget-dnd>switch {
    background: {color0};
}

.widget-dnd>switch:checked {
    background: {color4};
}
