/* @import "../../.cache/wal/colors-waybar.css";

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Sans Nerd Font Propo", "Roboto", monospace;
    font-size: 13px;
    min-height: 0;
    transition: all 0.3s ease;
}

window#waybar {
    background: @background;
    color: @foreground;
    border-bottom: 2px solid @color1;
}

#workspaces button {
    padding: 0 8px;
    margin: 4px 3px;
    background: @color1;
    color: @foreground;
    border: 1px solid @color2;
    border-radius: 2px;
}

#workspaces button:hover {
    background: @color2;
    border-color: @color7;
}

#workspaces button.active {
    background: @color3;
    border-color: @color6;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#pulseaudio,
#custom-pacman,
#tray,
#custom-mic,
#custom-notifications {
    padding: 0 12px;
    margin: 4px 3px;
    background: @color1;
    color: @foreground;
    border: 1px solid @color2;
    border-radius: 2px;
}

#battery.charging {
    background: @color2;
    border-color: @color6;
}

#battery.warning:not(.charging) {
    background: @color4;
    border-color: @color5;
    animation: blink 1s linear infinite;
}

#battery.critical:not(.charging) {
    background: @color5;
    border-color: @color4;
    animation: blink 0.5s linear infinite;
}

@keyframes blink {
    to {
        background: @background;
        color: @color5;
    }
}

#temperature.critical {
    background: @color5;
    border-color: @color4;
}

#tray {
    background: @background;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background: @color5;
}

tooltip {
    background: @background;
    border: 1px solid @color2;
    border-radius: 2px;
}

tooltip label {
    color: @foreground;
} */
