@import "/home/rambeau/.cache/wal/colors-waybar.css";

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Sans Nerd Font Propo", "Roboto", monospace;
    font-size: 13px;
    min-height: 0;
    transition: all 0.3s ease;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    background-color: @background;
    margin: 5px;
    padding: 0 5px;
    border-radius: 10px;
}

#workspaces button {
    padding: 0 5px;
    margin: 4px 3px;
    border-radius: 10px;
    color: @color7;
    background: transparent;
}

#workspaces button.active {
    color: @background;
    background-color: @color4;
    border: 2px solid @color4;
    padding: 0 10px;
}

#workspaces button:hover {
    background-color: @color4;
    color: @background;
}

#custom-weather,
#custom-logo,
#custom-notifications,
#custom-cava,
#temperature,
#clock,
#battery,
#pulseaudio,
#cpu,
#memory,
#mpd,
#tray {
    background-color: @background;
    padding: 0 10px;
    margin: 5px;
    border-radius: 10px;
}

#custom-cava {
    font-family: monospace;
    color: @color4;
}

#clock {
    color: @color4;
}

#cpu {
    color: @color4;
}

#memory {
    color: @color5;
}

#temperature {
    color: @color3;
}

#temperature.critical {
    background-color: @color1;
    color: @background;
}

#pulseaudio {
    color: @color6;
}

#pulseaudio.muted {
    color: @color1;
}

#battery {
    color: @color2;
}

#battery.charging,
#battery.plugged {
    color: @color2;
}

#battery.critical:not(.charging) {
    color: @color1;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-weather {
    color: @color7;
}

#custom-logo {
    color: @color4;
}

#custom-notifications {
    color: @color5;
}

#mpd {
    color: @color5;
}

#mpd.playing {
    color: @color4;
}

#mpd.paused {
    color: @color3;
}

/* Module hover effects */
#custom-weather:hover,
#custom-logo:hover,
#custom-notifications:hover,
#temperature:hover,
#clock:hover,
#battery:hover,
#pulseaudio:hover,
#cpu:hover,
/* #memory:hover {
    background: rgba(137, 180, 250, 0.2);
}, */

/* Tooltip styling */
tooltip {
    background-color: @background;
    border: 2px solid @color4;
    border-radius: 10px;
}

tooltip label {
    color: @foreground;
    padding: 5px;
}

@keyframes blink {
    to {
        background-color: @color1;
        color: @background;
    }
}
