@import "colors.css";

* {
    background-image: none;
    box-shadow: none;
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 14px;
}

window {
    background-color: rgba(0, 0, 0, 0.8);
}

button {
    border-radius: 12px;
    border: 1px solid @outline_variant;
    margin: 20px;
    text-decoration-color: @on_background;
    outline: none;
    color: @on_background;
    background-color: rgba(255, 255, 255, 0.10);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    box-shadow: none;
    text-shadow: none;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.20);
    border-color: @outline;
    transition: all 0.2s ease-in;
    background-size: 30%;
}

button:focus,
button:active {
    background-color: rgba(255, 255, 255, 0.25);
    border-color: @primary;
    transition: all 0.2s ease-in;
    background-size: 35%;
}

#lock {
    background-image: image(url("icons/lock.png"));
}

#logout {
    background-image: image(url("icons/logout.png"));
}

#suspend {
    background-image: image(url("icons/suspend.png"));
}

#shutdown {
    background-image: image(url("icons/shutdown.png"));
}

#reboot {
    background-image: image(url("icons/reboot.png"));
}
