@import "colors.css";

* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(0, 0, 0, 0.4);
}

button {
    border-radius: 10px;
    border-style: solid;
    border-width: 0px;
    margin: 20px;
    text-decoration-color: @on_background;
    outline: none;
    color: @on_background;
    background-color: @background;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    box-shadow: none;
    text-shadow: none;
}

button:hover {
    background-color: @surface_container;
    transition: all 0.2s ease-in;
    background-size: 30%;
}

button:focus,
button:active {
    background-color: @surface_container_high;
    transition: all 0.2s ease-in;
    background-size: 35%;
}

#lock {
	background-image: image(url("icons/lock.png"));
}

#logout {
	background-image: image(url("icons/logout.png"));
}

#suspend {
	background-image: image(url("icons/suspend.png"));
}

#hibernate {
	background-image: image(url("icons/hibernate.png"));
}

#shutdown {
	background-image: image(url("icons/shutdown.png"));
}

#reboot {
	background-image: image(url("icons/reboot.png"));
}
